header{
  top: 0;
  border-radius: 1px solid;
  position: fixed;
  width: 100%;
  background-color: #f8f9fa;
  z-index: 10;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reddit-icon-svg{
  height: 70px;
  padding: 8px 8px 8px 0;
  width: 70px;
}

.reddit-text{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  height: 50px;
  width: 100%;
  color: #0079D3;
}
.logo{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login, .signup{
  background-color: transparent;
  border-color: #0079D3;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 6px 16px;
  opacity: 1;
  margin-right: 16px;
}
.signup{
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  margin-right: 10px;
}

.signup:hover{
  opacity: 0.6;
}
