<div class="register-section">
  <div class="card">
      <div class="card-header" style="text-align: center">
          <h4>Login</h4>
      </div>
      <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                  <label for="username_address" class="">Username</label>
                  <div class="input-group">
                    <input type="text" formControlName="username" id="username_address" class="form-control" name="user-address" required autofocus>
                    <br>
                    <span *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched" style="color: red;" class="error">Enter Username!</span>
                  </div>
              </div>

              <div class="form-group">
                <label for="password_address" class="">Password</label>
                <div class="input-group">
                  <input type="text" formControlName="password" id="password_address" class="form-control" name="password-address" required autofocus>
                  <br>
                  <span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched" style="color: red;" class="error">Enter Password!</span>
                </div>
              </div>

              <div class="submit">
                <button type="submit" class="sign-up">
                          LogIn
                </button>
              </div>
              <br>
              <span style="padding-left: 15px">Existing user? <a routerLink="/login" style="color: #0079D3;">SIGN UP</a></span>

          </form>
  </div>

<div class="col-md-3" *ngIf="this.isError">
  <div class="login-failed" >
    <p class="login-failed-text">
      Login Failed. Please check your credentials and try again.
    </p>
  </div>
</div>
</div>
</div>




