<div class="sidebar-view-subreddit">
  <div style="color: black; font-weight: bold">Browse Subreddits</div>
  <hr />
  <span>
      <span class="subreddit-text">
          <span> {{ title }}</span>
          <span style="margin: 0 40px" > <a href="">{{ url }}</a></span>
      </span>
      <hr />
  </span>
  <div style="text-align: center" >
      <a class="view-btn" style="font-weight: bold" (click)="viewPost()" routerLink="/subreddits">View All</a>
      <a class="view-btn" style="font-weight: bold" (click)="clearAll()" routerLink="/subreddits">Clear All</a>
  </div>
</div>
